.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid Black;
  width: 100%;
}

.header img {
}

.logo p {
  color: MediumAquaMarine;
  display: inline-flex;
}

nav {
  display: flex;
}

nav span {
  list-style: none;
  display: inline-block;
}

nav a {
  color: black;
}

nav span {

}
